body{
    background-color: #131316;
    color: #ffff;
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
  }
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
  }
.show {
    filter: blur(0);
    opacity: 1;
  }
  @media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
  }
  