@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
head{
  font-family: "Ubuntu", sans-serif;
}
body{
  background-color: #131316;
  color: #ffff;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 25vh;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}
@media(prefers-reduced-motion) {
  .hidden {
      transition: none;
  }
}
a:link {
  background-color: yellow;
  text-decoration: none;
}

  a:active {
    background-color: hotpink;
  } 

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}
.discordsocial {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.discordsocial:hover{
  transform: scale(1.2);
}

.buttonback {
  background-color:grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
              }
.buttonback:hover{
box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color:darkslategrey;
}