.button {
        background-color: lightblue; 
        border: none;
        color: white;
        padding: 25px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
                    }
.button:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:cadetblue;
}
.button1 {
        background-color: lightblue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        
                    }
.button1:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:blue;
}

  head{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800; 
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
head { font-size:24px; line-height: 64px; letter-spacing: 0;}
                    body {
                            background-image: url("cherry-blossom-tree.gif") ;
                            background-size:inherit;
                            /*background: linear-gradient(to right, blue, p);*/
                            background-size:cover;
                            font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    }